<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ name }} - Vanita Barrett: Web Developer</title>
    <meta charset="utf-8" >
    <meta property="og:title" content="{{ name}} - Vanita Barrett: Web Developer" />
    <meta property="og:description" content="{{ summary }}" />
    <meta property="og:image" content="https://vanitabarrett.co.uk/logo.png" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@v_barrett" />
    <meta name="twitter:title" content="{{ name}} - Vanita Barrett: Web Developer" />
    <meta name="twitter:description" content="{{ summary }}" />
    <meta name="twitter:image" content="https://vanitabarrett.co.uk/logo.png" />

    <meta name="author" content="Vanita Barrett">

    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="{{keywords}}, vanita, barrett, vanita barrett, website, developer, frontend developer" />
    <meta name="description" content="{{ summary }}" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />

    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Passion+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/styles/styles.css">
  </head>

  <body>
    <div class="wrapper">
      <header>
        <a href="/" aria-label="Link to homepage" class="logo">
          <span>V</span><span>B</span>
        </a>

        <nav>
          <a href="/projects">Projects</a>
          <a href="/blog">Blog</a>
        </nav>
      </header>

      <main>
          <img src="/assets/blog-images/{{ id }}.png" class="blog__cover-image" alt="">

          <div class="blog">
            <p class="blog__date">Published {{ published_date | postDate }}</p>
            <h1>{{ name }}</h1>

            <div class="blog__content">
              {{ content | safe }}
            </div>

            <aside class="blog__aside">
              <div class="about">
                <h2>Hi, my name is Vanita.</h2>
                <p>I’m a Web Developer, based in London. </p>
                <p>Currently, I work as a Senior Frontend Developer at Government Digital Service, working on the GOV.UK Design System.</p>
              </div>
              <div class="share-links">
                <p id="share__title">Share this blog on:</p>
                <ul class="share-links__list">
                  <li class="share-links__list-item"><a aria-describedby="share-title" href="https://www.facebook.com/sharer/sharer.php?u=https://vanitabarrett.co.uk/blog/{{ id }}">Facebook</a></li>
                  <li class="share-links__list-item"><a aria-describedby="share-title" href="https://www.linkedin.com/sharing/share-offsite/?url=https://vanitabarrett.co.uk/blog/{{ id }}">LinkedIn</a></li>
                  <li class="share-links__list-item"><a aria-describedby="share-title" href="https://twitter.com/intent/tweet?text={{ name }}&url=https://vanitabarrett.co.uk/blog/{{ id }}" >Twitter</a></li>
                </ul>
              </div>
            </aside>
          </div>
      </main>

      <footer>
        <a class="email" href="mailto:contact@vanitabarrett.co.uk">contact@vanitabarrett.co.uk</a>
        <p>&copy; Vanita Barrett-Smith</p>
      </footer>
    </div>
  </body>
</html>
