.blog {
  width: 66%;

  .blog__cover-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin-top: $spacing-two-thirds;
  }

  .blog__main {
    padding: $spacing-two-thirds 0;

    h1 {
      margin: 0;
    }
  }
}
