.blogs {
    .blogs__item {
        display: block;
        margin: $spacing-two-thirds 0;

        .blogs__item__text {
            display: inline-block;
            vertical-align: top;

            h2 {
                margin-top: $spacing-one-third / 2;
            }
        }
    }
}

.instagram {
    border-top: 1px solid $lightgrey;
    padding-top: $spacing-one-third;

    .instagram__post {
        display: inline-block;
        text-decoration: none;
        margin: 0 $spacing-one-third;
    }

    .instagram__image {
        width: 200px;
        height: 200px;
    }
}
