html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 300;
    font-size: $text;

    header a, .intro a {
        color: $white;
        text-decoration: none;
    }
}

h1 {
    font-size: $heading1;
}

h2 {
    font-size: $heading2;
}

a {
    color: $red;

    &:hover, &:focus, &:visited {
        color: $red-highlight;
    }
}

.wrapper {
    overflow: visible;
    min-height: calc(100% - 67px);
}

.max-width {
    max-width: 900px;
    margin: 0 auto;

    @include breakpoint(3) {
        padding: 0 $spacing-half;
        box-sizing: border-box;
    }
}
