footer {
    text-align: center;
    position: relative;
    bottom: 0;

    a {
        color: $red;
        margin: 8px;
        text-decoration: none;
        font-weight: 600;
        font-size: $text-small;
    }

    svg {
        vertical-align: middle;
    }

    .footer__email {
        font-size: $text-small;
        margin-top: $spacing-one-third;
        margin-bottom: $spacing-one-third;
    }
}
