body {
    margin: 0;
    padding: 0;

    header {
        color: $white;
        background-color: $red;
        font-weight: 400;
        height: $spacing-full * 2;
        line-height: 70px;
        padding-bottom: $spacing-one-third;
        border-bottom: 1px solid $red-highlight;

        .web-title {
            color: $white;
        }

        .web-title--capital {
            font-family: 'Arizonia', serif;
            font-size: 40px;
        }

        nav {
            display: inline-block;
            float: right;

            a, a:focus, a:visited {
                color: $white;
                font-size: 14px;
                margin: 0 $spacing-one-third;
                padding: ($spacing-one-third / 2) 0;
                text-transform: uppercase;

                &:hover {
                    color: $white;
                    border-bottom: 2px solid $white;
                }
            }
        }
    }
}
