.intro {
    background-color: $red;
    color: $white;
    padding: $spacing-one-third $spacing-two-thirds;
    box-sizing: border-box;

    p {
        padding: 0;
        line-height: $spacing-full + ($spacing-one-third / 2);
        font-size: 25px;
    }

    a:hover {
        border-bottom: 2px solid $white;
    }

    .intro-em {
        font-size: $emphasis;
        font-weight: 600;
    }
}

.projects {
    h1 {
        margin-bottom: $spacing-one-third;
    }

    img {
        width: 40%;

        @include breakpoint(1) {
            width: 100%;
        }
    }

    .projects__list {
        list-style-type: none;
        margin: 0;
        padding: 0;

        .projects__item {
            margin: $spacing-two-thirds 0;
            padding: $spacing-one-third 0 $spacing-two-thirds 0;
            border-bottom: 1px solid $lightgrey;

            &:last-child {
                margin-bottom: 0;
            }

            h2, p {
                margin: 0;
                margin-bottom: $spacing-one-third / 2;
            }

            h2 {
                font-size: 20px;

                a {
                    color: $red;
                    text-decoration: none;

                    &:hover {
                        border-bottom: 1px solid $red;
                    }
                }
            }

            .projects__item__job {
                color: $grey;
            }
        }
    }
}
