.intro {
    background-color: $red;
    color: $white;
    padding: 10px 20px;
    box-sizing: border-box;

    p {
        padding: 0;
        line-height: 35px;
        font-size: 20px;
    }

    a:hover {
        border-bottom: 2px solid $white;
    }

    .intro-em {
        font-size: $emphasis;
        font-weight: 600;
    }
}

.projects {
    h1 {
        margin-bottom: 5px;
    }

    img {
        width: 40%;
    }

    .projects__item {
        margin: 20px 0;

        h2, p {
            margin: 0;
        }

        h2 {
            margin-bottom: 5px;
            font-size: 20px;

            a {
                color: $red;
                text-decoration: none;

                &:hover {
                    border-bottom: 1px solid $red;
                }
            }
        }
    }
}
