$black: #000000;
$grey: #808080;
$red: #6d1c31;
$red-highlight: #7e223a;
$white: #ffffff;

$font-xlarge: 100px;
$font-large: 70px;
$heading1: 30px;
$emphasis: 25px;
$heading2: 20px;
$text: 18px;
$text-small: 14px;

$spacing-full: 30px;
$spacing-half: 15px;
$spacing-one-third: 10px;

@mixin breakpoint($point) {
  @if $point == 3 {
    @media (max-width: 1008px) { @content; }
  }
  @else if $point == 2 {
    @media (max-width: 850px) { @content; }
  }
  @else if $point == 1 {
    @media (max-width: 570px)  { @content; }
  }
  @else if $point == 0 {
    @media (max-width: 380px)  { @content; }
  }
}