---
title: 'Blogs - Vanita Barrett - Web Developer'
layout: 'layouts/base'
---

{% block content %}
  <div class="blogs">
    <h1>Blogs</h1>
    <ul class="blogs__list">
    {% for blog in collections.blogs | sortByPublishedDate %}
      <li class="blogs__item__text">
        {% if blog.data.external_url %}
          <a class="blogs__item" href="{{ blog.data.external_url }}" rel="external"><h2>{{ blog.data.name }}</h2></a>
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" viewBox="0 0 24 24" class="blogs__external-icon">
            <path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 5H8.2c-1.12 0-1.68 0-2.108.218a1.999 1.999 0 0 0-.874.874C5 6.52 5 7.08 5 8.2v7.6c0 1.12 0 1.68.218 2.108a2 2 0 0 0 .874.874c.427.218.987.218 2.105.218h7.606c1.118 0 1.677 0 2.104-.218.377-.192.683-.498.875-.874.218-.428.218-.987.218-2.105V14m1-5V4m0 0h-5m5 0-7 7"/>
          </svg>
        {% else %}
          <a class="blogs__item" href="/blog/{{ blog.fileSlug }}"><h2>{{ blog.data.name }}</h2></a>
        {% endif %}
        <p class="blogs__date">Published {{ blog.data.published_date | postDate }} {% if blog.data.publishing_platform %}on {{ blog.data.publishing_platform }}{% endif %}</p>
        <p>{{ blog.data.summary }}</p>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}
