---
title: 'Vanita Barrett - Web Developer'
layout: 'layouts/base'
---

{% block content %}
    <h1>Hi, my name is <em>Vanita</em>.</h1>
    <p>I’m a <em>Web Developer</em>, based in London.</p>
    <p>I'm passionate about building usable and accessible interfaces, and maintaining healthy team culture within development teams. Currently, I work as a Senior Frontend Developer at <a href="https://gds.blog.gov.uk/" rel="external">Government Digital Service</a>, working on the <a href="https://design-system.service.gov.uk/" rel="external">GOV.UK Design System</a>.
    <a href="https://github.com/vanitabarrett" rel="external">Github</a>
    <a href="https://www.linkedin.com/in/vanitabarrett/" rel="external">LinkedIn</a>

    <div class="projects max-width">
        <h1>Projects</h1>
        <ol class="projects__list">
            {% for project in collections.ongoing_projects %}
                <li class="projects__item">
                    <h2><a href="/projects/{{ project.fileSlug }}">{{ project.data.name }}</a></h2>
                    <span class="projects__beta">Ongoing</span>

                    <p class="projects__item__job" aria-label="Job Title: {{ project.data.data.role }}">{{ project.data.role }}</p>
                    <p class="projects__item__summary">{{ project.data.summary }}</p>
                </li>
            {% endfor %}

            {% for project in collections.projects | sortByStartDate %}
                {% if project.data.end_date %}
                    <li class="projects__item">
                        <h2><a href="/projects/{{ project.fileSlug }}">{{ project.data.name }}</a></h2>

                        <p class="projects__item__job" aria-label="Job Title: {{ project.data.data.role }}">{{ project.data.role }}</p>
                        <p class="projects__item__summary">{{ project.data.summary }}</p>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>

  </div>
{% endblock %}
