.blogs {
  .blogs__list {
    list-style-type: none;
    padding: 0;
    margin: $spacing-full auto;

    .blogs__item__text {
      margin: $spacing-full * 2 0;
      width: 80%;
    }

    .blogs__item {
      display: inline-block;

      h2 {
        margin: 0;
      }
    }

    .blogs__external-icon {
      vertical-align: bottom;
    }
  }
}
