.error {
    margin-top: $spacing-full * 2;
    text-align: center;
    color: $white;

    .error-code {
        font-size: $font-xlarge;
    }

    .error-link {
        color: $white;
    }

    .error-cta-link {
        display: block;
        padding: $spacing-two-thirds ($spacing-full + $spacing-one-third);
        background-color: $red;
        width: 150px;
        margin: $spacing-full auto;
        color: $white;
    }
}
