.projects {
  .projects__list {
    text-align: center;

    .projects__item {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 30%;
      height: 200px;
      background-color: #F9F9F9;
      text-align: center;
      margin: 10px;

      a {
        text-decoration: none;

        &:hover, &:focus {
          background-color: transparent;
          box-shadow: none;

          h2 {
            color: $white;
            background-color: $black;
          }

          &::after {
            border: 2px solid $black;
            box-sizing: border-box;
          }
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }

      h2 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        font-size: $text;
        margin: 0;
        padding: $spacing-one-third 0;
        background-color: $white;
      }
    }

    .projects__item__image, .logo {
      display: inline-block;
      margin: 0 auto;
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -35%);
    }
  }
}
