body {
  background-color: $red;
  color: $white;
  font-family: 'Josefin Sans', sans-serif;
}

.temp-container {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  text-align: center;
  width: 100%;
  padding: $spacing-one-third;
  box-sizing: border-box;

  h1, h2 {
    margin: 0 0 $spacing-half 0;
    font-weight: 200;
  }

  a {
    text-decoration: none;
  }
}

.temp-container__title {
  font-family: 'Arizonia', cursive;
  font-size: $font-xlarge;

  @include breakpoint(1) {
    font-size: $font-large;
  }
}

.temp-container__icon {
  width: 50px;
  margin: 0 $spacing-one-third;
}

.temp-container__social {
  margin-top: $spacing-full;

  a:focus {
    outline: 0;
    svg {
      fill: $black;
    }
  }
}
