$white: #ffffff;
$black: #000000;
$hover: #d0d9c5;
$light-pink: rgba(231, 187, 187, 0.25);
$burgundy: #733333;
$dark-burgundy: #421C1C;

$text-xlarge: 100px;
$text-large: 50px;
$text-medium: 22px;
$text: 18px;
$text-small: 16px;

$spacing-full: 30px;
$spacing-two-thirds: 20px;
$spacing-half: 15px;
$spacing-one-third: 10px;

@mixin breakpoint($point) {
  @if $point == 3 {
    @media (min-width: 1008px) { @content; }
  }
  @else if $point == 2 {
    @media (min-width: 850px) { @content; }
  }
  @else if $point == 1 {
    @media (min-width: 570px)  { @content; }
  }
  @else if $point == 0 {
    @media (min-width: 380px)  { @content; }
  }
}
